.clear:after{
	content: "";
	display: block;
	clear: both;
}
.w1600{
	width: 1600px;
	margin: 0 auto;
	display: block;
}
.footer{
	background-color: #f4f4f4;
	font-family: "Microsoft yahei";
}
.footer a{
	font-size: 14px;
	color: #666;
	line-height: 65px;
	margin-left: 18px;
}
.footer .footer1{
	margin-left: 130px;
}
.footer span{
	color: #999;
	font-size: 12px;
	margin-left: 45px;
}