.clear:after{
	content: "";
	display: block;
	clear: both;
}
.w1600{
	width: 1600px;
	margin:0 auto;
	display: block;
}
.all1{
	height: 843px;
	background: url(../img/bg.png) no-repeat;
	font-family: "Microsoft yahei";
}
.zz{
	width: 1155px;
	margin:35px auto 130px;
}
.zz .zz1{
	width: 216px;
	background-color: #fff;
	margin-left: 15px;
	margin-top: 20px;
	float: left;
}
.zz .zz1 dd{
	height: 190px;
	overflow: hidden;
	
}
.zz img{
	width: 212px;
	height: 186px;
	margin: 2px;
}
.zz .zz1 dt{
	color: #3b3b3b;
	font-size: 14px;
	line-height: 42px;
	text-align: center;
	border-top: 1px #000 solid;
}
.zz p{
	color: #fff;
	font-size: 20px;
	height: 38px;
	line-height: 20px;
	border-bottom: 1px #1f1a2e solid;
	margin-bottom: 20px;
}