.clear:after{
	content: "";
	display: block;
	clear: both;
}
.w1600{
	width: 1600px;
	margin: 0 auto;
	display: block;
}
.head .head-title{
	font-family:"Microsoft yahei";
	width: 100%;
	margin: 0 auto;
	background-color:#010102;
	min-width: 1156px; 
}
.head .head-title li a{
	color: #fff;
	font-size: 12px;
	line-height: 44px;
	float: left;
	margin-right: 37px;
}
.head .head-title .lo{
	font-size: 20px;
	margin-right: 90px;
	margin-left: 160px;
}
.head .head-title .search i{
	display: inline-block;
	width: 13px;
	height: 18px;
	background: url(../img/banner1.png) no-repeat;
	margin-top: 16px;
}
.head .head-title li a:hover{
	color: #6a0c94;
	text-decoration: underline;
}