.clear:after{
	content: "";
	display: block;
	clear: both;
}
.w1600{
	width: 1600px;
	display: block;
	margin:0 auto;
}
.all{
	background: url(../img/bg.png) repeat-y;
	font-family: "Microsoft yahei";
}
.dt{
	width: 1155px;
	margin:35px auto 0px;
	padding: 130px;
}
.dt .p1{
	color: #fff;
	font-size: 20px;
	height: 38px;
	line-height: 20px;
	border-bottom: 1px #1f1a2e solid;
	margin-bottom: 20px;
}
.dt .dt1{
	width: 1140px;
	padding:20px 0  0  15px;
	font-size: 16px;
	color: #3b3b3b;
}
.dt .dt1 .d1{
	width: 562px;
	height: 116px;
	background-color: #fff;
	margin-bottom: 15px;
	float: left;
}
.dt .dt1 .d2{
	width: 562px;
	height: 116px;
	background-color: #fff;
	margin-bottom: 15px;
	float: right;
}
.dt  i{
	float: left;
	width: 139px;
	height: 86px;
	margin: 15px 10px;
	background:url(../img/dt1.png) no-repeat;
}
.dt .dt1 p{
	font-size: 12px;
}
.dt .dt1 .p2{
	font-size: 14px;
	margin-top: 15px;
}
.dt .dt1 .p4{
	float: left;
	margin-left: 65px;
}
.pros1{
	background-color: #fff;
	margin-top: 22px;
	padding-top: 30px;
	padding-left: 30px;
	padding-right:30px; 
}
.pros1  .pro1{
	float: left;
	width: 360px;
	height: 242px;
	margin-right: 190px;
	background:url(../img/pro1.png) no-repeat;
}
.pr1{
	color: #3b3b3b;
	font-size: 20px;
	margin-bottom: 20px;
}
.pr1-1{
	display: inline-block;
	line-height: 52px;
	border-bottom: 4px #ef3a05 solid;
}
.pr2{
	color: #3c3c3c;
	font-size: 12px;
	margin-bottom: 16px;
}
.pr3{
	color: #3c3c3c;
	font-size: 12px;
	line-height: 22px;
}
 .pr4{
	float: left;	
	border: 1px #ef3a05 solid;	
	width: 94px;
	margin-top: 22px;
	margin-bottom: 35px;
	text-align: center;
}
.pr4 a{
	color: #ef3a05;
	font-size: 16px;
	line-height: 34px;	
}
.pros1  .pro2{
	float: right;
	width: 360px;
	height: 242px;
	margin-left: 190px;
	background:url(../img/pro2.png) no-repeat;
}
.pros1  .pro3{
	float: left;
	width: 360px;
	height: 242px;
	margin-right: 190px;
	background:url(../img/pro3.png) no-repeat;
}
.pros1  .pro4{
	float: right;
	width: 360px;
	height: 242px;
	margin-left: 190px;
	background:url(../img/pro4.png) no-repeat;
}
.page{
	margin-top: 35px;
	float: right;
}
.page li{
	font-size: 12px;
	text-align: center;
	line-height: 25px;
	float: left;
	color: #fff;
}
.page .page1{
	width: 25px;	
	background-color: #7b2783;	
	margin-right: 5px;
}
.page1 a{
	color: #fff;
}
.page .page2{
	width: 25px;
	background-color: #ebebeb;
	margin-right: 5px;
}
.page2 a,{
	color: #3c3c3c;
}
.page .page3{
	width: 70px;
	line-height: 25px;
	background-color: #ebebeb;
	margin-right: 5px;
}
.page .page-1{
	font-size: 12px;
}
.page input{
	width: 60px;
	height: 25px;
	background-color: #ebebeb;
	margin: 0 5px;
	text-align: center;
}
.page .page4{
	width: 45px;	
	background-color: #7b2783;	
	margin-left: 5px;
}
.page4 a{
	color: #fff;
}
iframe{
	float: left;
}
.zxjk{
	background-color: #fff;
	margin-top: 22px;
	padding-top: 30px;
	padding-left: 20px;
	padding-right:30px; 
}
.zxjk  .jk1{
	float: left;
	width: 617px;
	height: 360px;
	margin-right: 50px;
	background:url(../img/jk1.png) no-repeat;
}
.zxjk .jk2{
	float: right;
	width: 617px;
	height: 360px;
	margin-left: 50px;
	background:url(../img/jk2.png) no-repeat;
}
.zxjk  .jk3{
	float: left;
	width: 617px;
	height: 360px;
	margin-right: 50px;
	background:url(../img/jk3.png) no-repeat;
}
